<h2>Places</h2>

<% if @current_user %>
  <ul>
    <% for place in @places %>
      <li><a href="/places/<%= place.id %>"><%= place.name %></a></li>
    <% end %>
  </ul>

  <div>
    <a class="btn btn-success" href="/places/new">New Place</a>
  </div>
<% else %>
  Log in to view your places! <a href="/sessions/new">Click Here</a>.
<% end %>