<h1>Places</h1>

<% if @current_user %>
  <ul>
    <% for place in @places %>
      <li><a href="/places/<%= place.id %>"><%= place.name %></a></li>
    <% end %>
  </ul>

  <div>
    <a class="btn btn-success" href="/places/new">New Place</a>
  </div>
<% else %>
  You must first <a href="/sessions/new">login</a> to view places.
<% end %>